<div class="container-fluid">

  <a class="d-flex justify-content-center bg-dark" href="#">
    <span class="font-italic gold">gold</span>

    <span class="text-italic gold">Introducing Zomato gold-An exclusive members club</span>

    <span class="gold">join now</span>
  </a>




  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-danger justify-content-between">
    <a class="navbar-brand font-italic text-light" href="#">ZOMATO</a>
    <div>
      <a class="navbar-brand text-white" href="#">Log in</a>
      <button class="btn btn-success my-2 my-sm-0" style="background-color: darkred;color: white;" type="submit">Create
        an Account</button>
    </div>

  </nav>

</div>
<div class="container">
  <br>
  <div class="row">
    <h5 class="text-center">ORDER FOOD ONLINE IN CHENNAI</h5>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-2 justify-content-center mb-2" style="height:70vh;background-color: beige;">

      <div class="row">
        <h5 class="text-center mt-5 ml-5">SORT BY</h5>
      </div>
      <div class="row">
        <button id="One" class="btn btn-light mt-2 ml-3"
          (click)="setcolor('One','Popularity-desc')"><small>Popularity-high to low</small></button>

      </div>

      <div class="row">
        <button id="Two" class="btn btn-light mt-2 ml-3"
          (click)="setcolor('Two','Popularity-asc')"><small>Popularity-low to high</small></button>
      </div>

      <div class="row">
        <button id="Three" class="btn btn-light mt-2 ml-3" (click)="setcolor('Three','cft-desc')"><small>Cost for
            two-high to low</small></button>
      </div>
      <div class="row">
        <button id="Four" class="btn btn-light mt-2 ml-3" (click)="setcolor('Four','cft-asc')"><small>Cost for two-low
            to high</small></button>
      </div>

      <div class="row">
        <button id="Five" class="btn btn-light mt-2 ml-3" (click)="setcolor('Five','rating-desc')"><small>Rating-high to
            low</small></button>
      </div>

      <div class="row">
        <button id="Six" class="btn btn-light mt-2 ml-3" (click)="setcolor('Six','rating-desc')"><small>Rating-low to
            high</small></button>
      </div>

    </div>
    <div class="col-xl-10">
      <div class="container">
        <div class="row">
          <div class="col-xl-12" style="background-color: beige;height:90px;">


            <div class="form-group">
              <div class="d-flex">
                <input type="text" class="form-control" #data id="searchForRestaurants"
                  placeholder="Search for Restaurants and cuisines">
                <button (click)="chkSearchBox(data.value)" class="btn btn-secondary ml-2" type="submit">Submit</button>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-6 col-lg-6" *ngFor="let restaurant of restaurantList">
            <div class="card mt-5" style="width: 27em;">

              <div class="">
                <img class="imgchk float-left" style="width:100px" src="{{restaurant['restaurant']['thumb']}}"
                  alt="https://via.placeholder.com/100">
                <h6 class="card-text imgchk ml-3 mb-0"><small>SPONSORED</small></h6>
                <h6 class="card-text ml-3 mb-0"><small>casual dining</small></h6>
                <div class="float-right  mr-3 rounded align-center"
                  [ngStyle]="{'background-color':'#'+restaurant['restaurant']['user_rating']['rating_color']}"
                  style="height:20px;width:40px;">{{restaurant['restaurant']['user_rating']['aggregate_rating']}}</div>

                <h5 class="text-danger mb-0 text-truncate">{{restaurant['restaurant']['name']}}</h5>
                <div class="float-right mr-3 text-muted">
                  <small>{{restaurant['restaurant']['user_rating']['votes']}}votes</small></div>

                <h6 class="card-text ml-3 mb-0  text-truncate"><small
                    class="font-weight-bold">{{restaurant['restaurant']['location']['locality']}}</small></h6>
                <h6 class="card-text ml-3 mb-0 text-truncate text-muted">
                  <small>{{restaurant['restaurant']['location']['address']}}</small></h6>
              </div>
              <hr class="mb-0">
              <div class="card-body">
                <div class="container">

                  <div class="row justify-content-start flex-row">
                    <div class="col-xs-4 float-left">
                      <div class="text-muted mb-0"><small>cusinies:</small></div>
                      <div class="text-muted mb-0"><small>cost for two:</small></div>
                      <div class="text-muted mb-0"><small>hours:</small></div>
                    </div>
                    <div class="col-xs-8 float-right">
                      <div class="text-muted mb-0 ml-3 text-truncate">
                        <small>{{restaurant['restaurant']['cuisines']}}</small></div>
                      <div class="text-muted mb-0 ml-3">
                        <small>{{restaurant['restaurant']['currency']}}{{restaurant['restaurant']['average_cost_for_two']}}</small>
                      </div>
                      <div class="text-muted mb-0 ml-3"><small>{{restaurant['restaurant']['timings']}}</small></div>
                    </div>
                  </div>

                </div>
              </div>
              <hr class="m-0">

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btn-block border-right m-0 p-0"
                  style="height:60px;">call</button>
                <button type="button" class="btn btn-light btn-block border-right m-0 p-0"
                  style="height:60px;">menu</button>
                <button type="button" class="btn btn-light btn-block m-0 p-0" style="height:60px;">book a table</button>
              </div>

            </div>
          </div>

        </div>

        <div class="row mt-3 align-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" (click)="setPage(1)" href="#">1</a></li>
              <li class="page-item"><a class="page-link" (click)="setPage(21)" href="#">2</a></li>
              <li class="page-item"><a class="page-link" (click)="setPage(41)" href="#">3</a></li>
              <li class="page-item"><a class="page-link" (click)="setPage(61)" href="#">4</a></li>
              <li class="page-item"><a class="page-link" (click)="setPage(81)" href="#">5</a></li>

              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>